<article>
    <div>
        <h3>Edit Post</h3>
        <form>
            <label>Title</label>
            <input id="titleInput" type="text" value="{{title}}" />
            <label>Content</label>
            <textarea id="contentInput">{{content}}</textarea>
        </form>
        <button type="submit" id="deleteBtn" class="btn">Delete</button>
        <button type="submit" id="updateBtn" class="btn">Update</button>
    </div>
</article>

<script src="/js/delete.js"></script>
<script src="/js/update.js"></script>