<section class="card">
  <div>
    <h2>New Post</h2>
  </div>
  <div id="">
    <form id="" class="card-body">
      <div>
        <label>Title</label>
        <input type="text" id="" />
      </div>
      <div>
        <label>Content</label>
        <textarea name="post-content" id=""></textarea>
      </div>
      <button type="submit" id="" class="btn">Create Post</button>
    </form>
  </div>
</section>
