<article class="card">
  <div>
    <h2>New Post</h2>
  </div>
  <div id="newPost">
    <form id="newPostForm" class="card-body">
      <div>
        <label>Title</label>
        <input type="text" id="titleInput" />
      </div>
      <div>
        <label>Content</label>
        <textarea id="contentInput"></textarea>
      </div>
      <button type="submit" id="createBtn" class="btn">Create Post</button>
    </form>
  </div>
</article>

<script src="/js/create.js"></script>