<h1>Dashboard</h1>

<button type="submit" id="newPost" class="btn">Create a new post!</button>
{{!-- <section class="card">
    <header>{{post.title}}</header>
    <p>{{post.body}}</p>
</section> --}}

<script src="/js/dashboard.js"></script>